body {
	padding: 3em;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}

.container {
	background-color: #ececec;
	width: 70%;
	overflow: hidden;
	margin: 2em auto;
	padding: 2em;
	text-align: left;
}

h2 {
	font-family: Georgia, Palatino, "Times New Roman", serif;
/*	font-style: italic; */
	font-size: 2em;
}


.user_intro, .new_user {
	float: left; 
	width: 45%;
	margin: 1em;
}

a {
	color: #005696;
	text-decoration: none;
}

a:hover, a:active {
	color: #2d86de;
}

.user_intro a {
	display: inline-block;
	margin: 1em 0;
}


.user_login_input input {
	width: 100%;
	line-height: 2em;
	border: 1px solid #bbb;
	border-radius: 10px;
	margin: .5em 0;
	padding: 5px;
}

.user_login_submit {
	text-align: center;		
}

.user_login_submit a {
	display: inline-block;
	margin: 0 1.5em;
}

input[placeholder]:focus::-webkit-input-placeholder {
	color: #c97600;
}

input:focus {
	outline: none;
}

input[type="submit"] {
	background-color: #c97600;
	background-image: -webkit-linear-gradient(top, #e89829, #c97600);
	background-image: linear-gradient(top, #e89829, #c97600);	
	border: 1px solid #c97600;
	border-radius: 7px;
    color: #fff;
	text-shadow: 0 0 1px 0 #888;
	display: block;
	margin: 1em auto;
	width: 8em;
	height: 1.5em;
	cursor: pointer;
	font: bold 1.2em Arial, Helvetica, sans-serif;
}

input[type="submit"]:hover {
	background-color: #c97600;
	background-image: -webkit-linear-gradient(top, #c97600, #e89829);
	background-image: linear-gradient(top, #c97600, #e89829);	

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}