<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>CODE SNIPPET COLLECTION</title>
        <meta name="description" content="My collection of standard code snippets">
        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="main.css">
    </head>
    
    <body>
        
        
    <header>      
           
           
        <nav>
            <ul>
                <li><a href="#" class="current">Portfolio</a></li>
                <li><a href="#">Process</a></li>
                <li><a href="#">Resume</a></li>
            </ul>
        </nav>
        
    </header>
    
    <form action="" method="post" id="login"> 
    	<h1>Log In</h1>
	    <fieldset id="inputs">
	        <input id="username" type="text" placeholder="Username" autofocus required>   
	        <input id="password" type="password" placeholder="Password" required>
	    </fieldset>
	    <fieldset id="actions">
	        <input type="submit" id="submit" value="Log in">
	        <a href="">Forgot your password?</a><a href="">Register</a>
	    </fieldset>
    
    </form>
        
        
        <samp>
            Want to see it in action? Place your cursor on the <!-- <samp> --> tag above and press
            <kbd>Cmd/Ctrl + E</kbd>. You should see a CSS quick editor appear above, showing the CSS rule that
            applies to it. Quick Edit works in class and id attributes as well.
            
            You can create new rules the same way. Click in one of the <!-- <p> --> tags above and press
            <kbd>Cmd/Ctrl + E</kbd>. There are no rules for it right now, but you can click the New Rule
            button to add a new rule for <!-- <p> -->.
        </samp>
        
        <a href="screenshots/quick-edit.png">
            <img alt="A screenshot showing CSS Quick Edit" src="screenshots/quick-edit.png" />
        </a>
        
        
        
    </body>
</html>    